<table class="index-table">
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :name %>
      <%= index_th :organization %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <%= index_td resource, :id %>
        <%= index_td resource, :name, image:gravatar_for(resource.email) %>
        <%= index_td resource, :organization %>
        <%= actions_td resource %>
      </tr>
    <% end %>
  </tbody>
</table>
