<% if @managed_class.no_resources? %>

  <% # Render a blank-slate because there’s nothing to list %>

  <div class="blank-slate">
    <span class="blank-slate-icons"><%= fontawesome_icon @managed_class.icon %></span>
    <h3 class="blank-slate-header">
      No <%= @managed_class.model_name.human.pluralize.titleize %> live here.
    </h3>
    <p class="blank-slate-text">Get started on the first one:</p>
    <% if @managed_class.allows?(:new) %>
      <%= link_to url_for(action:"new"), class:"button -primary" do %>
        <%= fontawesome_icon :plus %>
        New <%= @managed_class.model_name.human.titleize %>
      <% end %>
    <% end %>
  </div>

<% elsif currently_filtering? && @resources.none? %>

  <% # Render a blank slate because nothing was found by searching %>

  <div class="blank-slate">
    <span class="blank-slate-icons"><%= fontawesome_icon :search %></span>
    <h3 class="blank-slate-header">
      Your search didn't find any <%= @managed_class.model_name.human.pluralize.titleize %>.
    </h3>
    <p class="blank-slate-text">
      You can <%= link_to "clear the search form", url_for([:admin, @managed_class.klass]) %>
      to start over.
    </p>
  </div>

<% elsif admin_template_exists?("#{@managed_class.model_name.route_key}/table") %>

  <div class="index-table-wrap">
    <%= render partial:"admin/#{@managed_class.model_name.route_key}/table" %>
  </div>

<% else %>

  <% # Render a default table because the developer didn’t provide one %>

  <div class="index-table-wrap">
    <table class="index-table">
      <thead>
        <tr>
          <%= index_th :id %>
          <%= index_th "Name", sort:false %>
          <%= actions_th %>
        </tr>
      </thead>
      <tbody>
        <% @resources.each do |resource| %>
          <tr>
            <%= index_td resource, :id %>
            <%= index_td resource, Tolaria.display_name(resource) %>
            <%= actions_td resource %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>

<% if @managed_class.paginated? %>

  <% if @resources.any? %>
    <p class="pagination-desc"><%= page_entries_info @resources %></p>
  <% end %>

  <%= paginate @resources, theme:"admin", window:2 %>

<% end %>
