<% unless @managed_class.no_resources? %>

  <% search_visbility = currently_filtering?? "display:block" : "display:none" %>
  <%= search_form_for @search, url:url_for([:admin, @managed_class.klass]), enforce_utf8:false, html:{class:"resource-form search-form", style:search_visbility} do |f| %>

    <% if admin_template_exists?("#{@managed_class.plural}/search") %>

      <% # Use the developer-provided search/filter template %>
      <%= render partial:"admin/#{@managed_class.plural}/search", locals:{f:f} %>

    <% else %>

      <% # Show a default text filter because no filters were provided %>
      <%= f.label ransack_text_search_chain(@managed_class.klass), "Containing the text" %>
      <%= f.search_field ransack_text_search_chain(@managed_class.klass), placeholder:"Anything" %>

    <% end %>

    <div class="search-form-controlls">
      <%= f.button type:"submit", class:"button -primary", name:nil do %>
        <%= fontawesome_icon :search %>
        Search <%= @managed_class.model_name.human.pluralize.titleize %>
      <% end %>
      <%= link_to url_for([:admin, @managed_class.klass]), class:"button" do %>
        <%= fontawesome_icon :close %>
        Clear Search
      <% end %>
    </div>

  <% end %>

<% end %>
