<% unless no_resources_exist? %>

  <% search_visbility = currently_filtering?? "display:block" : "display:none" %>
  <%= search_form_for @search, url:url_for([:admin, @managed_class.klass]), enforce_utf8:false, html:{class:"resource-form search-form", style:search_visbility} do |f| %>

    <% if admin_template_exisits?("#{@resource.model_name.route_key}/search") %>

      <% # Use the developer-provided search/filter template %>
      <%= render partial:"admin/#{@resource.model_name.route_key}/search", locals:{f:f} %>

    <% else %>

      <% # Show a default text filter because no filters were provided %>
      <%= f.label Tolaria.text_search_chain_for(@resource), "Containing the text" %>
      <%= f.search_field Tolaria.text_search_chain_for(@resource) %>

    <% end %>

    <div class="search-form-controlls">
      <%= f.button type:"submit", class:"button -primary", name:nil do %>
        <%= fontawesome_icon :search %>
        Search <%= @resource.model_name.human.pluralize %>
      <% end %>
      <%= link_to url_for([:admin, @managed_class.klass]), class:"button" do %>
        <%= fontawesome_icon :close %>
        Close
      <% end %>
    </div>

  <% end %>

<% end %>
