<% if @resource.persisted? %>
  <%= content_for :title, "#{Tolaria.display_name(@resource)}" %>
<% else %>
  <%= content_for :title, "New #{@resource.model_name.human.titleize}" %>
<% end %>

<%= form_for [:admin, @resource], builder:Admin::TolariaFormBuilder, html:{class:"resource-form"}  do |form_builder| %>

  <div class="main-controls">
    <div class="main-controls-left">
      <h1>
        <span class="crumb">
          <%= fontawesome_icon @managed_class.icon_name %>
          <%= @resource.model_name.human.pluralize.titleize %>
        </span>
        <%= content_for :title %>
      </h1>
    </div>
    <div class="main-controls-right desktop-only">
      <%= render "admin/tolaria_resource/form_buttons" %>
    </div>
  </div>

  <div class="resource-form-interior">
    <%= render partial:"admin/#{@resource.model_name.route_key}/form", locals:{f:form_builder} %>
  </div>

  <div class="main-controls -inverse">
    <div class="main-controls-right">
      <%= render "admin/tolaria_resource/form_buttons" %>
    </div>
  </div>

<% end %>
