<%= content_for :title, "#{@resource.model_name.human.pluralize.titleize}" %>

<div class="main-controls">

  <div class="right">

    <%= link_to url_for([:new, :admin, @managed_class.model_name.singular]), class:"button -primary" do %>
      <%= fontawesome_icon :plus %>
      New <%= @resource.model_name.human.titleize %>
    <% end %>

  </div>

</div>

<table class="index-table">
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :title %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>

      </tr>
    <% end %>
  </tbody>
</table>
