<%= content_for :title, "#{@resource.model_name.human.pluralize.titleize}" %>

<div class="main-controls">

  <div class="left">
    <h1><%= content_for :title %></h1>
  </div>

  <div class="right">
    <%= link_to url_for(action:"new"), class:"button -primary" do %>
      <%= fontawesome_icon :plus %>
      New <%= @resource.model_name.human.titleize %>
    <% end %>
  </div>

</div>

<%= render partial:"admin/#{@resource.model_name.route_key}/table" %>
