<%= content_for :title, Tolaria.display_name(@resource) %>

<div class="main-controls">

  <div class="main-controls-left">
    <h1>
      <span class="crumb">
        <%= fontawesome_icon @managed_class.icon %>
        <%= @managed_class.model_name.human.pluralize.titleize %>
      </span>
      <%= content_for :title %>
    </h1>
  </div>

  <div class="main-controls-right">
    <%= render "admin/tolaria_resource/show_buttons" %>
  </div>

</div>

<% if admin_template_exists?("#{@managed_class.model_name.route_key}/show") %>

  <%= render partial:"admin/#{@managed_class.model_name.route_key}/show" %>

<% else %>

  <% # Render a default table because the developer didn’t provide one %>

  <table class="show-table">
    <thead>
      <tr>
        <th>Field</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="show-td-field">Created At</td>
        <td class="monospace"><%= @resource.created_at.presence.try(:strftime, "%Y-%m-%d %I:%M %p") %></td>
      </tr>
      <tr>
        <td class="show-td-field">Updated At</td>
        <td class="monospace"><%= @resource.updated_at.presence.try(:strftime, "%Y-%m-%d %I:%M %p") %></td>
      </tr>
      <tr>
        <td class="show-td-field">Name</td>
        <td><%= Tolaria.display_name(@resource) %></td>
      </tr>
    </tbody>
  </table>

<% end %>

<div class="main-controls -inverse">

  <div class="main-controls-right">
    <%= render "admin/tolaria_resource/show_buttons" %>
  </div>

</div>
