<div class="main-header">

  <div class="right">

    <button class="button">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -primary">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -danger">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

  </div>

</div>

<form action="" method="post" accept-charset="utf-8">

  <div class="main-left">
    <!--

    <div class="markdown-controls clearfix">

      <div class="left">
        <button class="md-button-header icon icon-header" title="Header"></button>
        <button class="md-button-strong icon icon-bold" title="Bold"></button>
        <button class="md-button-em icon icon-italic" title="Italic"></button>
        <button class="md-button-image icon icon-image" title="Image"></button>
        <button class="md-button-link icon icon-link" title="Link"></button>
        <button class="md-button-ol icon icon-list-ol" title="List"></button>
        <button class="md-button-ul icon icon-list-ul" title="List"></button>
        <button class="md-button-blockquote icon icon-quote-left" title="List"></button>
        <button class="md-button-interstitial">Interstitial</button>
      </div>

      <div class="right">
        <button class="md-button-write -joined-right -current" title="Header">Write</button>
        <button class="md-button-preview -joined-left" title="Header">Test</button>
      </div>

    </div>

    <%= text_area :blog_post, :body, {
      class: "markdown",
      rows: 20
    } %>

    -->

    <%= label :blog_post, :title, "Post Title" %>
    <%= text_field :blog_post, :title %>
    <p class="hint">When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is. Mankind, let us preserve and increase this beauty, and not destroy it!</p>

  </div>

  <div class="main-right">

    <%= label :blog_post, :title, "Publishing Date" %>
    <%= text_field :blog_post, :title %>

  </div>

</form>
