<div class="main-header">

  <div class="right">

    <button class="button">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -primary">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -danger">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

  </div>

</div>

<%= form_for([:admin, @resource]) do |builder| %>
  <%= render partial:"admin/#{@resource.class.to_s.tableize}/form", locals:{f:builder} %>
<% end %>
