<!DOCTYPE html>
<html>
  <%= render "admin/shared/head" %>
  <body class="admin">

    <%= render "admin/shared/skiplinks" %>
    <%= render "admin/shared/header" %>

    <div class="application-container">
      <%= render "admin/shared/flash_messages" %>
      <%= render "admin/shared/navigation" %>
      <div id="main" class="main" role="main">
        <%= yield %>
      </div>
    </div>

    <%= render "admin/shared/footer" %>
    <%= javascript_include_tag "admin/admin" %>

  </body>
</html>
