<h3 class="has-many-header">
  <span><%= f.object.model_name.human.titleize %></span>
  <% if allow_destroy %>
    <%= button_tag "Remove", type:"button", class:"has-many-group-remove button -small" %>
  <% end %>
</h3>

<% if allow_destroy %>

  <%= button_tag type:"button", class:"has-many-undo", style:"display:none" do %>
    <span class="has-many-undo-text">This <%= f.object.model_name.human %> will be removed when you save your changes.</span>
    <span class="button -small"><%= fontawesome_icon :undo %> Undo</span>
  <% end %>

  <% if f.object.persisted? %>
    <%= f.hidden_field :_destroy, value:0 %>
  <% end %>

<% end %>
