<div class="has-many">

  <%= existing_fields %>

  <% if allow_create %>
    <%= button_tag type:"button", class:"has-many-create", data:data do %>
      <%= content_tag :span, class:"button" do %>
        <%= fontawesome_icon :plus %>
        <%= "Add a new #{button_label}" %>
      <% end %>
    <% end %>
  <% end %>

</div>
