<% if flash[:success].present? %>

  <div class="flash-message">
    <div class="inner-align">
      <p><%= fontawesome_icon :check %> <%= flash[:success] %></p>
      <button class="dismiss">Dismiss</button>
    </div>
  </div>

<% elsif flash[:error].present? %>

  <div class="flash-message -error">
    <div class="inner-align">
      <p><%= fontawesome_icon :exclamation_triangle %> <%= flash[:error] %></p>
      <button class="dismiss">Dismiss</button>
    </div>
  </div>

<% elsif flash[:destructive].present? %>

  <div class="flash-message -error">
    <div class="inner-align">
      <p><%= fontawesome_icon :trash %> <%= flash[:destructive] %></p>
      <button class="dismiss">Dismiss</button>
    </div>
  </div>

<% elsif flash[:restricted].present? %>

  <div class="flash-message -error">
    <div class="inner-align">
      <p><%= fontawesome_icon :minus_circle %> <%= flash[:restricted] %></p>
      <button class="dismiss">Dismiss</button>
    </div>
  </div>

<% end %>
