<% if flash[:success].present? %>

  <div class="flash-message">
    <div class="inner-align">
      <button class="dismiss">Dismiss</button>
      <p><%= fontawesome_icon :check %> <%= flash[:success] %></p>
    </div>
  </div>

<% elsif flash[:error].present? %>

  <div class="flash-message -error">
    <div class="inner-align">
      <button class="dismiss">Dismiss</button>
      <p>
        <%= fontawesome_icon :exclamation_triangle %> <%= flash[:error] %>
        <% if defined?(@resource) && @resource.respond_to?(:errors) && @resource.errors.any? %>
          <%= @resource.errors.full_messages.to_sentence.capitalize %>.
        <% end %>
      </p>
    </div>
  </div>

<% elsif flash[:destructive].present? %>

  <div class="flash-message">
    <div class="inner-align">
      <button class="dismiss">Dismiss</button>
      <p><%= fontawesome_icon :trash %> <%= flash[:destructive] %></p>
    </div>
  </div>

<% elsif flash[:restricted].present? %>

  <div class="flash-message -error">
    <div class="inner-align">
      <button class="dismiss">Dismiss</button>
      <p><%= fontawesome_icon :minus_circle %> <%= flash[:restricted] %></p>
    </div>
  </div>

<% end %>
