<div class="flash-message">
  <div class="inner-align">
    <p>
      <%= fontawesome_icon :check %>
      Created
    </p>
    <button class="dismiss">Dismiss</button>
  </div>
</div>

<div class="flash-message">
  <div class="inner-align">
    <p>
      <%= fontawesome_icon :check %>
      Updated
    </p>
    <button class="dismiss">Dismiss</button>
  </div>
</div>

<div class="flash-message">
  <div class="inner-align">
    <p>
      <%= fontawesome_icon :trash %>
      Destroyed
    </p>
    <button class="dismiss">Dismiss</button>
  </div>
</div>

<div class="flash-message -error">
  <div class="inner-align">
    <p>
      <%= fontawesome_icon :exclamation_triangle %>
      Your changes couldn’t be saved. Please review the messages below.
    </p>
    <button class="dismiss">Dismiss</button>
  </div>
</div>

<div class="flash-message -error">
  <div class="inner-align">
    <p>
      <%= fontawesome_icon :minus_circle %>
      Your changes couldn’t be saved. Please review the messages below.
    </p>
    <button class="dismiss">Dismiss</button>
  </div>
</div>
