<div class="navigation">

  <div class="navigation-group">
    <h3><span>Syndication</span></h3>
    <ul>
      <li><%= tolaria_navigation_link "Blog Posts", :leaf, "#" %></li>
      <li><%= tolaria_navigation_link "Resources", :file_text, admin_blog_posts_path %></li>
      <li><%= tolaria_navigation_link "External Links", :external_link, "#" %></li>
      <li><%= tolaria_navigation_link "Images", :image, "#" %></li>
    </ul>
  </div>

  <div class="navigation-group">
    <h3><span>Collections</span></h3>
    <ul>
      <li><%= tolaria_navigation_link "Topics", :list, "#" %></li>
      <li><%= tolaria_navigation_link "Work", :briefcase, "#" %></li>
      <li><%= tolaria_navigation_link "Locations", :plane, "#" %></li>
    </ul>
  </div>

  <div class="navigation-group">
    <h3><span>People</span></h3>
    <ul>
      <li><%= tolaria_navigation_link "People", :users, "#" %></li>
      <li><%= tolaria_navigation_link "Members", :building, "#" %></li>
    </ul>
  </div>

  <div class="navigation-group">
    <h3><span>Pages</span></h3>
    <ul>
      <li><%= tolaria_navigation_link "About Pages", :book, "#" %></li>
      <li><%= tolaria_navigation_link "Legal Pages", :legal, "#" %></li>
    </ul>
  </div>

  <div class="navigation-group">
    <h3><span>Components</span></h3>
    <ul>
      <li><%= tolaria_navigation_link "Headers", :header, "#" %></li>
      <li><%= tolaria_navigation_link "Levers", :lightbulb_o, "#" %></li>
      <li><%= tolaria_navigation_link "Twitter Users", :twitter, "#" %></li>
      <li><%= tolaria_navigation_link "Homepage Videos", :file_movie_o, "#" %></li>
    </ul>
  </div>

  <div class="navigation-group">
    <h3><span>Settings</span></h3>
    <ul>
      <li><%= tolaria_navigation_link "Miscellany", :check, "#" %></li>
      <li><%= tolaria_navigation_link "Administrators", :lock, "#" %></li>
    </ul>
  </div>

</div>
