<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tolaria</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin/admin", media:"all" %>
    <%= javascript_include_tag "admin/lib/require", data:{main:"/assets/admin/admin"} %>
  </head>
  <body class="tolaria">
    <div id="container">
      <div id="deco-strip" style="background-position-x:<%= header_background_xpos %>px"></div>
      <div id="appwell">
        <%= yield %>
      </div>
      <%= render "admin/shared/menu" %>
      <%= render "admin/shared/footer" %>
    </div>
  </body>
</html>
